header, main, article, nav, footer {
    padding: 10px;
}
main{
    height: 100vh;
    background-color: lightblue;
}

footer {
    text-align: center;
}

header {
    background-image: url("kepek/header.jpg");
    height: 100px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 100px;
}

img {
    width: 200px;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 50px;
    font-family: "Lucida Console",monospace;
    font-size: 30px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

#navigacio #menu{
    display: flex;
}

#navigacio {
    display: flex;
    justify-content: center;
}

nav {
    background-color: #464b59;
}